.list_artist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    text-align: center;
}

.artist_name {
    color: white;
}

.title {
    text-align: center;
}
.box {
    text-align: center;
}